:root {
  --navcolor: white;
  --navbg: rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.image  {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-image: url(img/webtopbg.png);
  background-size:100% 100%;
  background-repeat: no-repeat;
}

.nav-bar {
    height: 45px;
    background-color: var(--navbg);
    display: flex;
    border: 2px solid #bdbdbd;
    box-sizing: border-box;
    margin: 1.2rem 2rem 0 2rem;
}

/* .nav-bar>div{
    width:10%
} */
.nav-bar > ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

li {
  width: 25%;
  text-align: center;
  height: 100%;
  padding-top: 12px;
}

li > a {
  /* display: block; */
  /* padding:2rem; */
  color: var(--navcolor);
  text-decoration: none;
}
