:root {
  --color1: white;
  --color1light: rgb(220, 220, 220);
  --color2: black;
  --color2light: rgb(25, 25, 25);
  --accentcolor: #5badb5;

  --defaultfont: "Open Sans", sans-serif;
  --highlightfont: "Montserrat", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--color2);
  color: var(--color1);
}
hr {
  border-color: var(--accentcolor);
  border-style: solid;
}
i {
  color: var(--color1);
  display: none !important;
}
h1 {
  font-family: var(--defaultfont);
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  padding: 0.8rem 0;
  font-family: var(--defaultfont);
  font-weight: 400;
}

h3 {
  font-family: var(--defaultfont);
  font-weight: 400;
}

p {
  font-family: var(--defaultfont);
}
span {
  border: 2px solid var(--color1);
  margin: 1.2vmin 1vmin 0 0;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  display: inline-block;
  font-family: var(--highlightfont);
  font-size: small;
}

img {
  width: 100%;
  background-color: var(--color2);
}

.nav-bar {
  position: fixed;
  width: 100%;
  background-color: var(--color2);
  color: var(--color1);
  display: flex;
  height: 13vmin;
  align-items: center;
}

.nav-bar > .logo {
  min-width: 42%;
  padding-left: 10vw;
}
.nav-bar > .logo > h1 {
  font-size: 38px;
  font-family: "Open Sans", sans-serif;
  line-height: unset;
}

.nav-bar > ul {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.nav-bar > ul > li {
  display: inline-block;
  list-style: none;
  flex: 1;
}

.nav-bar > ul > li > a {
  display: inline-block;
  width: 100%;

  text-decoration: none;
  color: var(--color1);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

#active {
  color: var(--accentcolor);
  font-weight: 700;
  font-size: 21px;
}

#activei {
  color: var(--accentcolor);
  font-weight: 700;
  /* font-size: 21px; */
}
.nav-bar > ul > li > a:hover {
  font-weight: 700;
  font-size: 21px;
}
.spacer {
  background-color: black;
  height: 20vmin;
}

.about {
  height: 65vh;
  display: flex;
  /* align-items: center; */
  padding: 0 15vmin 0 20vmin;
}
.about > h1 {
  align-self: center;
  padding-right: 5rem;
}

.skillset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}
.skillset > ul {
  font-size: 1.2rem;
  font-family: var(--defaultfont);
}
.skillset > ul > li {
  margin-top: 10px;
  list-style: none;
  font-size: small;
  color: var(--color1light);
}

.currentinterest {
  padding-left: 20vmin;
}
.currentinterest > ul {
  display: flex;
}
.currentinterest > ul > li {
  list-style: none;
  margin-right: 0.5rem;
}

footer#contact {
  height: 80vh;
  color: var(--color1);
  display: flex;
  flex-direction: column;
}
footer > .contactmail {
  height: 60%;
  display: flex;
  align-items: center;
  margin: 0 40vmin;
}
.contactmail > h1 {
  font-weight: 400;
  font-size: 3rem;
}
.contactmail > h1 > a {
  color: var(--accentcolor);
}
footer > .footeritems {
  margin: 0 30vmin;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footeritems > .footeritem {
  display: flex;
  flex-direction: column;
}
.footeritems > .footeritem > ul > li {
  list-style: none;
  font-family: var(--defaultfont);
  color: var(--color1light);
  font-size: 1.25rem;
}
.footeritem > ul > li > a {
  text-decoration: none;
  color: var(--color1light);
  font-size: 1.25rem;
}
.footeritem > ul > li > a:hover {
  text-decoration: underline;
  text-decoration-color: var(--accentcolor);
  text-underline-offset: 5px;
  text-decoration-thickness: 2.5px;
}

/* --------------MEDIA QUERY----------------- */
@media only screen and (max-width: 728px) {
  html,
  body {
    font-size: 13px;
  }

  html.touch *:hover {
    pointer-events: none !important;
  }

  .nav-bar {
    bottom: 0;
    padding: 0;
    height: 15.5vmin;
  }

  .nav-bar > ul {
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    margin: 0;
    justify-content: center;
  }

  .nav-bar > ul > li > a {
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
  }
  .nav-bar > ul > li > a > i {
    display: unset !important;
    font-size: 20px;
    margin-bottom: 0.3rem;
  }
  .nav-bar > ul > li > a:hover {
    font-size: 16px;
  }

  #active {
    font-size: 16px;
  }

  .logo {
    display: none;
  }

  h1 {
    font-size: 2.5rem;
  }

  .spacer {
    /* display: none; */
    height:12vmin;
    padding-top:8vmin;
  }
  .spacer>hr{
    border-width: 2px;
  }

.about {
  height: auto;
  flex-direction: column;
  padding: 6vmin 5vmin 0 8vmin;
}
.about > h1 {
  align-self: center;
  padding-right: 0;
}
.about>h1>br{
  display: none;
}

.skillset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}
.skillset>h2{
  margin-top:3rem;
  font-size: 2rem;
}
.skillset > ul {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.skillset > ul > li {
  margin-top: 10px;
  list-style: none;
  font-size: small;
  color: var(--color1light);
}

.currentinterest {
  padding-left: 8vmin;
}
.currentinterest > ul {
  display: flex;
  margin-bottom: 5rem;
}
.currentinterest>h2{
  font-size: 1.7rem;
}
.currentinterest > ul > li {
  list-style: none;
  margin-right: 0.5rem;
  font-family: var(--defaultfont);
  color:var(--color1light);
  font-size: small;
}


  footer#contact {
    margin-top: 3rem;
    height: 95vh;
    flex-direction: column;
  }
  footer#contact>hr{
    margin-bottom: 3rem;
  }
  footer > .contactmail {
    align-items: flex-start;
    margin: 0 0 0 10vmin;
    height: 30%;
  }
  footer > .contactmail > h1 > br {
    display: none;
  }

  footer > .footeritems {
    margin: 0 0 0 10vmin;
    flex-direction: column;
  }
  .footeritems > .footeritem {
    margin-bottom: 8vmin;
  }
  .footeritems > .footeritem > ul > li {
    margin-bottom: 5vmin;
  }
}
/* --------------MEDIA QUERY----------------- */
@media only screen and (min-width: 729px) and (max-width: 960px) {
  .aboutmyself {
    height: 77vh;
  }
  .projectarea {
    padding: 2.2rem 1rem 0rem 1rem;
  }

  .project {
    padding: 1rem;
    min-width: 75vmax;
    margin: 0 0.5rem 1rem 0.5rem;
  }
  .footeritems > .footeritem > h2 {
    font-size: 1.1rem;
  }
  .footeritems > .footeritem > ul > li {
    list-style: none;
    font-family: var(--defaultfont);
    color: var(--color1light);
    font-size: small;
    margin-bottom: 15px;
  }
  .footeritem > ul > li > a {
    text-decoration: none;
    color: var(--color1light);
    font-size: small;
  }
}
@media only screen and (min-width: 729px) and (max-width: 1100px) {
  .nav-bar > .logo {
    min-width: 40%;
  }

  .nav-bar > ul {
    width: 55%;
    justify-content: space-around;
  }
  h1 {
    font-family: var(--defaultfont);
    font-size: 2.5rem;
    font-weight: 400;
  }

  footer#contact {
    height: 80vh;
    color: var(--color1);
    display: flex;
    flex-direction: column;
  }
  footer > .contactmail {
    height: 60%;
    display: flex;
    align-items: center;
    margin: 0 20vmin;
  }
  .contactmail > h1 {
    font-weight: 400;
    font-size: 2.5rem;
  }
  .contactmail > h1 > a {
    color: var(--accentcolor);
  }

  footer > .footeritems {
    margin: 0 5vmin;
    justify-content: space-around;
  }
  .footeritems > .footeritem {
    display: flex;
    flex-direction: column;
  }
  .footeritems > .footeritem > ul > li {
    list-style: none;
    font-family: var(--defaultfont);
    color: var(--color1light);
    font-size: unset;
    margin-bottom: 15px;
  }
  .footeritem > ul > li > a {
    text-decoration: none;
    color: var(--color1light);
    font-size: unset;
  }
  .footeritem > ul > li > a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accentcolor);
    text-underline-offset: 5px;
    text-decoration-thickness: 2.5px;
  }
}
