:root {
  --navcolor: white;
  --whiteheading: white;
  --blackheading: black;
  --navbg: rgb(0, 0, 0);

  --boldhead: "Anton", sans-serif;

  --textfont: "Raleway", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}
h1 {
  font-family: var(--boldhead);
  font-size: 6rem;
  line-height: 8rem;
}

h2 {
  padding:.8rem 0;
  font-family:sans-serif;
}

h3 {
  font-family:sans-serif;
  font-size: 1.5rem;
}

p {
  font-family: var(--textfont);
  font-size: 1.2rem;
}
span {
  border: 2px solid white;
  margin: 1.2vmin 1vmin 0 0;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: var(--navcolor);
  font-size: 1.3rem;
  line-height: 41px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  width: 100%;
  background-color: black;
}
.nav-bar {
  height: 45px;
  background: var(--navbg);
  display: flex;
  width: 100%;
  border-bottom: 2px solid #bdbdbd;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
}

/* .nav-bar>div{
    width:10%
} */
.nav-bar > ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

li { 
  color: var(--navcolor);
  width: 25%;
  text-align: center;
  height: 100%;
}

li > a {
 
  text-decoration: none;
  font-family: var(--textfont);
  font-size: 1.2rem;
  line-height: 41px;
  display: inline-block;
  width:100%;
}

li > a:hover{
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  
}
.active{
background-color: rgb(94, 94, 94);
}
.aboutmyself {
  padding-top: 45px;
  width: 100%;
  background-color: white;
  color: black;
}
.rect {
  position: relative;
  float: left;
  height: 7rem;
  width: 1.2rem;
  background-color: #2b2b2b;
  top: 2.7rem;
  left: 4.5rem;
}

.aboutmyself > p {
  display: inline-block;
  color: #3a3a3a;
  height: 7.5rem;
  width: 53.375rem;
  left: 7.25rem;
  margin-top: 3rem;
  position: sticky;
}
.aboutmyself > h1 {
  margin-bottom: 3rem;
  color: #2b2b2b;
  width: 65.125rem;
  position: sticky;
  margin-left: 4.25rem;
}

.projectarea {
  padding: 3rem 1rem 0rem 1rem;
  background: black;
  color: white;
}
.projectarea > h1 {
  margin-left: 3.25rem;
  position: sticky;
  width: 64rem;
  color: #cacaca;
  margin-bottom: 3rem;
}

.projectarea > .projectwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 45vmax;
  background-color: rgb(25, 25, 25);
margin: 0 .5rem 1rem .5rem;
}
.project > .image {
  width: 100%;
  overflow: hidden;
  height: 30vmin;
}
.project > .image > img {
  transition: all 1s ease;
}
.project > .image > img:hover {
  transform: scale(1.3);
}

.project > .details {
  margin-top: 2vmin;
  color: rgb(220, 220, 220);
}

.project > .tech {
  flex: 0 0 50px;
  margin-top: auto;

  color: var(--whiteheading);
}

.signout {
  display: flex;
}
.text {
  /* color:rgba(0, 0, 0);
    background-color:white; */
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.text {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
  display: flex;
}

.text > p {
  padding: 0 2vw 6vw 2vw;
  max-width: 75vw;
}

.text > h1 {
  padding: 2vw;
  margin-top: 2rem;
}

/* --------------MEDIA QUERY----------------- */
@media only screen and (max-width: 728px) {
  html,
  body {
    font-size: 13px;
  }
  li > a {
    font-size: 1.1rem;
  }
  .nav-bar {
    border-top: 2px solid white;
    bottom: 0;
  }
  h1 {
    font-size: 3rem;
    line-height: 5rem;
  }
  .rect {
    display: none;
  }
.aboutmyself{
padding-top:0;
}
  .aboutmyself > p {
    height: auto;
    width: auto;
    left: 0;
    margin: 0.8rem 1.2rem;
  }
  .aboutmyself > h1 {
    line-height: 4rem;
    margin: 1rem 1.5rem;
    width: auto;
    position: static;
    left: 4.25rem;
  }
  .projectarea {
    padding: 2rem 1.5rem;
  }
  .projectarea > h1 {
    font-size: 3rem;
    position: static;
    width: auto;
    margin: 0;
  }
  .projectarea > .projectwrap {
    /* display: flex;
        flex-wrap: wrap;
        text-align: center; */
    flex-direction: column;
    align-items: center;
  }
  .project {
    width: 80%;
  }
  .text{
    padding-bottom: 45px;
  }
}
/* --------------MEDIA QUERY----------------- */

@media only screen and (min-width: 729px) and (max-width: 954px) {
  html,
  body {
    font-size: 14px;
  }
  li > a {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .rect {
    display: none;
  }
  .aboutmyself > p {
    height: auto;
    width: 80%;
    left: 0;
    margin: 0.8rem 1.7rem;
  }
  .aboutmyself > h1 {
    line-height: 4rem;
    margin: 1rem 0 2rem 1.5rem;
    width: auto;
    position: static;
    left: 4.25rem;
    margin-left: 2rem;
  }
  .projectarea {
    padding: 2rem 1.5rem;
  }
  .projectarea > h1 {
    margin: 1rem 0 2rem 1.5rem;
    position: static;
    width: auto;
    padding: 0 0 1.5rem 0.5rem;
  }
  .project {
    width: 43%;
  }
}
